/.bash_history
cyginst.bat
/os1
/arsd-1.2.2
/arsd-1.2.2.zip
/arsd-clone
/.gnupg
/.emacs.d
/.viminfo
/pegged
/Pegged-Cutter
*___*
.dub
*.o
*.obj
*.dll
*.exe
*.lib
*.dll.bin
*.exe.bin
*.lib.bin
*.dll.json
*.exe.json
*.lib.json
*.c32
*.c64
*.m32
*.m64
ms2inst.bat
.binaries
\#*\#
